*  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.quiz
.scores {
    margin: 50px auto 0 auto;
    max-width: 400px;
}
a {
    text-decoration: none;
}
/*this needs more work, margins are not working right!*/
.quiz-container {
    position: absolute;
    border: 3px solid;
    border-radius: 5px;
    margin-top: 5px;
    height: 400px;
    width: 768px;
    margin-bottom: 75px;
    padding: 10px;
}
.answerBtn {

    display: flex;
    flex-direction: column;
    margin: 3px;
    margin-left: 175px;
    text-align: center;
    cursor: pointer;
    color: #efefef;
    background-color: rgb(60, 7, 60);
    border-radius: 4px;
    padding: 15px;   
}
h1 {
    
    text-align: center;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;

}

p {
    text-align: center;
    margin-top: 20px;
    margin-left: 110px;
    margin-right: 110px;

}
.landing {
    text-align: center;
    align-items: center;
}
#view-high-scores {
    position: absolute;
    color: rgb(195, 43, 212);
    top: 15px;
    left: 15px;
}

.timer {
    position: absolute;
    top: 15px;
    right: 15px;
}

#start {
    position: absolute;
    text-align: center;
    margin-left: 325px;
    cursor: pointer;
    color: #efefef;
    background-color: rgb(60, 7, 60);
    border-radius: 4px;
    padding: 15px;
}
/* hover effect is happening:)*/
button:hover {
    background-color: rgb(192, 34, 147);
}

input [type="text"] {
    font-size: 100%;
}
/* I haven't been able to see this work yet do to some bugs in JavaScript*/
.hide {
    display: none;
}
.feedback {
    font-style: italic;
    font-size: 100%;
    margin-top: 100px;
    margin-left:200px;
    margin-right: 200px;
    padding-top: 15px;
    color: gray;

}
ol {
    padding-left: 15px;
    max-height: 600px;
    overflow: auto;
}
li {
    padding: 5px;
    list-style: decimal inside none;
}
li :nth-child(odd) {
    background-color:#dfdae7;
}

